<!DOCTYPE html><html><head><title>FullScreen test</title>
<meta name="viewport" content="width=device-width, user-scalable=no">
<meta charset="utf-8"></head><body>

<script src="../../lib/WebModule.js"></script>
<script>
WebModule.VERIFY  = __WEBMODULE_VERIFY__;
WebModule.VERBOSE = __WEBMODULE_VERBOSE__;
WebModule.PUBLISH = __WEBMODULE_PUBLISH__;
</script>

__MODULES__
__WMTOOLS__
__SOURCES__
__OUTPUT__
__TEST_CASE__

<style>
#content { width: 100%; height: 100%; background-color: skyblue; }
#trace { width: 100%; height: 100px; }
</style>

<div id="content">
<button onclick="_fullscreen()">FullScreen.request()</button> |
<button onclick="_toggle()">FullScreen.toggle()</button> |
<button onclick="_exit()">FullScreen.exit()</button> |
<button onclick="_release()">FullScreen.release()</button><br>
<output id="output"></output>
</div>

<script>
var content = document.querySelector("#content");
var output = document.querySelector("#output");

window.onload = function() {
  if (FullScreen.enable) {
    FullScreen.on("change", _onchange);
    FullScreen.on("error",  _onerror);
    setTimeout(_tick, 1000);
  } else {
    output.innerHTML += "FullScreen API is not supported";
  }
}
function _onchange(eventType, event) {
  console.info("FullScreen change event", eventType); // -> "change"
}
function _onerror(eventType, event) {
  console.info("FullScreen error event", eventType); // -> "error"
}

function _release() {
  FullScreen.off("change", _onchange);
  FullScreen.off("error",  _onerror);
  FullScreen.release();
  output.innerHTML += "x";
}

function _tick() {
  setTimeout(_tick, 1000);

  if (FullScreen.enable) {
    if (FullScreen.isActive()) {
      output.innerHTML += "A";
      if (FullScreen.getActiveNode() !== content) {
        document.body.backgroundColor = "red";
      }
    } else {
      output.innerHTML += "-";
    }
  }
}
function _fullscreen() {
  if (FullScreen.enable) { FullScreen.request(content); }
}
function _toggle() {
  if (FullScreen.enable) { FullScreen.toggle(content); }
}
function _exit() {
  if (FullScreen.enable) { FullScreen.exit(); }
}
</script>


</body></html>

